<nav class="app-sidebar"
     ng-controller="CustomizerCtrl"
     auto-close-mobile-sidebar
     data-ng-class="{'bg-color-light': ['31','32','33','34','35','36'].indexOf(app.colorOption) >= 0,
                     'bg-color-dark': ['31','32','33','34','35','36'].indexOf(app.colorOption) < 0 }">

    <section class="sidebar-header"
             ng-class="{ 'bg-color-dark': ['11','31'].indexOf(app.colorOption) >= 0,
                         'bg-color-light': app.colorOption === '21',
                         'bg-color-primary': ['12','22','32'].indexOf(app.colorOption) >= 0,
                         'bg-color-success': ['13','23','33'].indexOf(app.colorOption) >= 0,
                         'bg-color-info': ['14','24','34'].indexOf(app.colorOption) >= 0,
                         'bg-color-warning': ['15','25','35'].indexOf(app.colorOption) >= 0,
                         'bg-color-danger': ['16','26','36'].indexOf(app.colorOption) >= 0}">


        <a href="#!/" class="brand text-uppercase"><img src="assets/images/Beanlogin.png" style="vertical-align: text-bottom;margin-right: 6px;" />Beanlogin</a>
        <a href="" class="collapsednav-toggler" ng-click="toggleCollapsedNav()" ><i class="material-icons">{{app.togglerIconVal}}</i></a>
    </section>


    <section class="sidebar-content" ng-include src=" 'app/layout/sidebar-content.html' "></section>


</nav>
