
<div ng-controller="appsController" ng-init="grid = true">
<div class="row" style="margin-top:50px;margin-bottom:20px; margin-left: 20px;">

    <div class="input-group col-sm-6">
    <input id="email" ng-model="txtsearch" type="text" class="form-control" name="email" placeholder="Email">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
  </div>


    <div class="col-sm-6 col-lg-4">
     <i class="fa fa-2x text-grey fa-list" ng-class={'text-primary':list}  ng-click="grid = false; list = true" style="outline: 0;opacity: 0.5; margin-left:10px;padding-left: 20px;"></i>
        <i class="fa fa-2x text-grey fa-th" ng-class={'text-primary':grid} ng-click="grid = true; list = false" style="outline: 0;opacity: 0.5;padding-left: 8px; margin-left:10px;"  ></i>
        <i class="fa fa-2x text-grey  fa-sort-alpha-asc" ng-click ="toggleOrder()" ng-class={'text-primary':sortReverse} style="outline: 0;opacity: 0.5;padding-left: 8px; margin-left:10px;"></i>
        <!-- <button class="btn btn-primary" style=" margin-left:10px;">App Catalog</button> -->
      </div>
  </div>
  <section class="page-with-tabs">
      <md-tabs md-dynamic-height>
          <md-tab>
              <md-tab-label>Supported</md-tab-label>
              <md-tab-body >
                <div class="row" ng-show="list" ng-init="fetchaffiliateapps()">
                  <div class="col-lg-12" ng-repeat="affilatesApps in affilatesApps | filter:txtsearch | orderBy:sortType:sortReverse">
                    <div class="ih-item square effect3 bottom_to_top row">
                      <div class="col-lg-2">
                        <a  ng-click = "showGmail($event,activites)" ng-init="">
                          <img src="assets/icons/{{affilatesApps.Affiliate_Apps}}.png" style="margin-left: 28px;">
                        </a>
                      </div>
                      <div class="col-lg-10">
                        <p>{{affilatesApps.App_Name}}</p>
                      </div>
                    </div>
                  </div>
                        </div>
            <div class="row" ng-show="grid" ng-init="fetchaffiliateapps()">
              <div class="col-lg-2" ng-repeat="affilatesApps in affilatesApps | filter:txtsearch | orderBy:sortType:sortReverse">
                <div class="ih-item square effect3 bottom_to_top">
                    <a  ng-click = "showGmail($event,activites)" ng-init="">
                      {{affilatesApps.App_Name}}
                      <img src="assets/icons/{{affilatesApps.Affiliate_Apps}}.png" style="margin-left: 28px;">
                    </a>
                </div>
              </div>
                    </div>
              </md-tab-body>
          </md-tab>
          <md-tab>
              <md-tab-label>My affilates</md-tab-label>
              <md-tab-body >
                <div class="row" ng-init="fetchPredefinedApps()">
                  <div class="col-lg-2" ng-repeat="activites in allData | filter:txtsearch | orderBy:sortType:sortReverse">
                    <div class="ih-item square effect3 bottom_to_top">

                        <a  ng-click="showGmail($event,activites)">
{{activites.AppName}}
                          <img src="{{activites.AppIcon}}" style="margin-left: 28px;">
                        </a>
                    </div>
                  </div>
                  </div>
                </div>
              </md-tab-body>
          </md-tab>
          <md-tab>
              <md-tab-label>My Notes &nbsp;&nbsp;</md-tab-label>
              <md-tab-body>
                  <div class="article-title color-dark">Blank 3</div>
              </md-tab-body>
          </md-tab>
          <md-tab>
          <button class="btn btn-primary"><i class="fa fa-plus"></i></button>
          </md-tab>
      </md-tabs>

  </section>
</div>
